@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* background: #FDFDFD; */

}

.special{
    background-color:#D6F2FF;
}

.button-1{
    border-color: #274690;
    background-color: white;
}

.button-2{
    background-color: #274690;
}

.last{
    box-shadow: 0px 0px 4px 5px rgba(214, 34, 70, 0.25);
}

 /*.container{
    border: black solid 2px;
}

.japa{
    border: green solid 2px;
}