* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333333;
}

.row {
  display: flex;
  justify-content: space-between;
}

.privacy-section h1 {
  font-size: 48px;
}

.bg-teal {
  background-color: #d6f2ff;
}

.contain {
  width: 90% !important;
  margin: 0 auto !important;
}

.welcome-text h1 {
  font-size: 48px;
}

.search-space h1 {
  margin-bottom: 14rem;
}
.box {
  width: 24px;
  height: 24px;
}
.gap-4 h4 {
  font-size: 20px;
  margin-bottom: 5rem;
  min-height: 4rem;
  margin-top: 5rem;
  font-weight: bolder;
}

table {
  table-layout:fixed;
  width: inherit !important;
}
td, th {
  width:150px !important;
  height:75px !important;
  max-width:150px !important;
  max-height:75px !important;
  min-width:150px !important;
  min-height:75px !important;
}

.profile i{
  width: 50px;
  height: 50px;
}

.form-check-input{
 background-color: #fff !important;
}

.form-check-input svg{
  stroke: #000 !important;
}

@media only screen and (max-width: 768px) {
  .search-space h1 {
    margin-bottom: 4rem;
  }
  .gap-4 h4 {
    margin-bottom: 1rem;
  }
}

@media (max-width:480px) {
  .search{
    padding-top: 20px;
  }
  .profile{
    padding-left: 65px;
    padding-top: 10px;
  }

  .profile i{
    width: 25px;
    height: 25px;
  }
  .img{
    padding-top: 25px;
  }
  .img svg, .img img{
       width: 20px;
       height: 20px;
  }

  #welcome{
    font-size: 25px;
  }

  #sort{
    margin-top: 25px;
  }

  .welcome-text p{
    width: 80%;
  }

 


}

@media (max-width:786px) {
  .search{
    padding-top: 20px;
  }
  .profile{
    padding-left: 65px;
    padding-top: 10px;
  }

  .profile i{
    width: 25px;
    height: 25px;
  }
}

